/* Ayesha Hasan, Akil Kanwar, Anas Hayat, Udeshwar Sandhu
Date: January 30, 2026
External stylesheet for user interface design principles web page */

* {
    margin: 0;
    padding: 0;
}

#title {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    ;
    color: #1C3A4B;
    margin-bottom: 0;
    text-decoration: underline;
    margin-bottom: 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f8f3;
    color: #1C3A4B;
}

#info {
    display: flex;
    gap: 40px;
    margin-right: 40px;
    margin-left: 40px;
}

.text {
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
}

section {
    padding: 40px;
    color: #f1f8f3;
    background-color: #1C3A4B;
    border-radius: 10px;
    text-align: center;
}

section h2 {
    text-decoration: underline;
    margin-bottom: 10px;
}

img {
    border: 2px solid white;
}

footer {
    position: fixed;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1C3A4B;
    color: white;

}