* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

#title {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    ;
    color: #1C3A4B;
    margin-bottom: 0;
    text-decoration: underline;
    margin-bottom: 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f8f3;
    color: #1C3A4B;
    
}

h2 {
    margin:20px;
    margin-bottom:0;
}

.project {
    margin:20px;
    margin-top:5px;
    background-color: #1C3A4B;
    color: white;
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
}

ol, ul {
  padding-left: 40px;
  margin-left: 0;
}

.text {
    margin-bottom:10px;
}

.last {
    margin-top:10px;
}

table, th, td {
    border: 1px solid white;
    padding:2px;
    text-align:center;
}

table {
    margin:auto;
}

footer {
    /* position: fixed; */
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1C3A4B;
    color: white;
    padding:15px;

}