body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#f1f8f3;
}
#main {
    background-image: url("images/background.png");
    background-repeat:no-repeat;
    background-size:cover;
   }

footer {
    position:fixed;
    margin-top:auto;
    left:0;
    bottom:0;
    width:100%;
    text-align:center;
    background-color:#1C3A4B;
    color:white;

   }

nav {
    margin:0;
   }

   .navbar {
    display:flex;
    margin-top:0;
    gap:30px;
    list-style:none;
    text-decoration:none;
    justify-content:right;
    margin-right:30px;
    margin-top:20px;
   }

.navbar a {
    text-decoration:none;
    font-size:20px;
    padding:10px;
    color:white;
    background-color:#1C3A4B;
   }

.pageTitle {
    font-size:50px;
    text-align:center;
    margin-top:20px;
    color:#1C3A4B;
    margin-bottom:0;
    text-decoration:underline;
}

#mainTitle {
    font-size:80px;
    text-align:center;
    margin-top:20px;
    color:#1C3A4B;
    margin-bottom:0;
}

#slogan {
    text-align:center;
    font-size:30px;
    color:#1C3A4B;
    margin-top:0;
}

#box {
    margin:50px;
    display:flex;
    justify-content: space-between;

}

#box section {
    background-color: #1C3A4B;
    padding:50px;
    color:white;
    border-radius:20px;
}

.name {
    margin-top:0;
}