/* Ayesha Hasan, Akil Kanwar, Anas Hayat, Udeshwar Sandhu
Date: January 30, 2026
External stylesheet for team website */


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f8f3;
    margin: 0;
    background-attachment: fixed;
}

#main {
    margin-top: 0;
    padding-top: 0;
    background-image: url("images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    text-align: center;
    padding-bottom: 20px;
}

.avatar {
    margin-bottom: 0;
}

.portfolio {
    text-decoration: none;
    color: white;
}

.portfolio:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1C3A4B;
    color: white;

}

.navbar {
    list-style: none;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: #1C3A4B;
}

.navlink {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.navlink a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px;
}

.navlink a:hover {
    background-color: #162c38;
    border: 1px solid white;
}

.pageTitle {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    ;
    color: #1C3A4B;
    margin-bottom: 0;
    text-decoration: underline;
}

#mainTitle {
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
    color: #1C3A4B;
    margin-bottom: 0;
}

#slogan {
    text-align: center;
    font-size: 30px;
    color: #1C3A4B;
    margin-top: 0;
}

#box {
    margin-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    gap: 20px;

}

#box section {
    flex: 1;
    background-color: #1C3A4B;
    color: white;
    border-radius: 20px;
}

.name {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
}

#lab {
    background-color: #1C3A4B;
    color: white;
    padding: 20px;
    margin-top: 100px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
}

#lab a {
    color: white;
}

#report {
    
    color: #1C3A4B;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

#devplan {
    text-align:center;
    margin-top:0;
}

#devplan:hover {
    scale:0.9;
    cursor:pointer;
    color:#162c38;
}

#plan {
    text-decoration:none;
    color:inherit;
}


.project {
    background-color: #1C3A4B;
    color: white;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
}